.hero{
    padding-bottom: 21px;

}

.buttonHero {
    background-color: transparent;
    color: rgb(243, 159, 56);
    border-color: initial
}

.buttonHero:hover {
    background-color: rgba(255, 83, 13, 0.1); 
    border: 1px solid rgb(243, 159, 56); 
  }

.h1 {
 color: rgb(80, 149, 80);
 font-family: 'Tektur', cursive;
}

.h2 {
    color: #d6def7;
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    transition: font-size 0.5s ease;
    font-weight: bolder;
    font-size: calc(43px + (90 - 43) * ((100vw - 600px) / (1000 - 600)));
}

.h3 {
    color:#CCD6F6;
}

.p {
    color:#CCD6F6;
}

@media only screen and (max-width: 600px){
    .hero  {
        padding-inline: 40px;
    }

    .h2 {
        font-size: 43px;
    }
        
      }
      
      @media only screen and (min-width: 500px){
        .hero  {
            padding-inline: 80px;
        }
        
      }
  