
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .titleStack {
    display: contents;
  }

 .stacklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:16px;
    list-style: none;
  }
  