
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 66px;

  }

  .titleSection{
    font-weight: normal;
    font-size: 20px;
  }

  .faChevronRight{
    color: #F39F38;
  }

  .content p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #CCD6F6;

  }

  .content img {
    width: 78%;
    object-fit: cover;
    width: 77%;
    height: 86%;
    border-radius: 15px;
    margin-right: 30px;
    margin-left: 72px;
    margin-bottom: 21px;
    margin-top: 21px;
  }

 .hr {
    flex: 1;
  } 

  
  .titleStack {
    display: contents;
  }

 .stacklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:16px;
    padding-top:36px;
    list-style: none;
    color: #CCD6F6;
  }

  /* mettre dans le shared styles file */

  .a {
    color: #164961;
  }

  .a:hover {
    color: #F29727;
  }

  @media only screen and (max-width: 600px){
    .content  {
        padding-inline: 40px;
        display: block;
    }
        
      }
      

  