.contact {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding-bottom: 25px;
    height: 500px;
    padding-top: 12px;
    align-items: center;
    padding: 126px;
}

.contact h3 {
    color: #CCD6F6;
}

.contact p {
    color: #CCD6F6;
}

  .a:hover {
    color: #F29727;
  }

  .socialNetworksList {
    display: flex;
    flex-direction: row;
  }


  .socialNetworksList li {
    list-style: none;
    padding-right: 23px;
    padding-top: 23px;
  }

  @media only screen and (max-width: 600px){
    .contact  {
        padding: 40px;
    }     
      }
  @media only screen and (min-width: 600px){
        .contact  {
            padding-inline: 80px;
            padding-top: 186px;
        }
      }
