.contact {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding-bottom: 69px;
    padding-top: 69px;
    align-items: center; 
    padding-top: 69px;
}

.contact h2{
  color: rgb(80, 149, 80);
  font-family: 'Tektur', cursive;
  margin-top: 0px;
  padding-top: 94px;
  font-size: 22px;
}

.contact h3 {
    color: #CCD6F6;
    font-size: 50px;
    font-weight: normal;
    
}

.contact p {
    color: #CCD6F6;
    margin-bottom: 47px;
    text-align: center;
}

  .a:hover {
    color: #F29727;
  }

  .socialNetworksList {
    display: flex;
    flex-direction: row;
  }


  .socialNetworksList li {
    list-style: none;
    padding-right: 23px;
    padding-top: 23px;
  }

  @media only screen and (max-width: 600px){
    .contact  {
        padding: 40px;
    }     
      }
