nav {
  position: sticky;
  top: 0;
  font-family: 'Figtree', sans-serif;
  padding-inline: 46px;
  box-shadow: 1px 0px 25px 10px #10303f;
  backdrop-filter: blur(8px);
  height: 75px;
  transition: transform 0.3s ease-in-out;
}

nav.hiddenNav {
  transform: translateY(-100%);
}

  nav ul {  
    right:0;
    float: right;
    margin-top: 24px;

  }

  nav.navLinks li {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 0px;

  }

  
  li .resume {
      color: #F29727;
      font-size: 18px;
      border: solid;
      border-radius: 5px;
      margin-left: 15px;
    }

 


  
  li .resumePdf{
      display: none;
      
  }

  .navLink:hover {
    color: #F29727;
  }

  .navLink {
    color: aquamarine;
  }

  .navLink, li .resume {
      text-decoration: none;
      padding: 0.5rem;

  }
  
.resume:hover{
  background-color: rgba(255, 83, 13, 0.1); 
}



@media only screen and (max-width: 600px){
  nav {
    visibility: hidden;
    opacity: 1;
    display: none;
  }

  .menuResponsive {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: end;
      position: fixed;
      width: 100%;    
  }

  .menuResponsive .ol {
    animation: slideAnimation 2s cubic-bezier(0.01, 0.1, 0.2, 0.01) ;
    /*  animation: slideAnimation 2s cubic-bezier(0.97, 0.02, 0.44, 0.99) ;  */
    width: 100%;
    
  }



  
  @keyframes slideAnimation {
    100% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(calc(100%));
    }
  }

  

  .menuResponsive .iconBurger {
    cursor: pointer;
    margin-right: 0; 
    font-size: 50px;
    padding-right: 33px;
    padding-top: 28px;
    
  }

  .a .iconBurger .line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
  
  }

  .a {
    z-index:20;
  }

  .menuResponsive .open {
    padding-top: 106px;
    width: 100%;
    
  }

  .menuResponsive .open .line {
    transition: 0.3s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  .menuResponsive .open .line:nth-child(1) {
    transform: translateY(9px) rotate(50deg);
  }
  .menuResponsive .open .line:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
  }
  .menuResponsive .open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-50deg);
  }


  .closed {
    display: none;
  }

  .hidden {
    display:none;
  }

  .menuResponsive .liNavItem {
    height: 70px;
    list-style: none;
    background-color: brown;
    display: flex;
    justify-content: center;
    pointer-events: none;

  }

  .menuResponsive .liNavItem{
    padding-top: 10%;
  }

  

  .liNavItem a {
    pointer-events: auto;
  }

  .menuResponsive .a {
    padding-top: 38px;
    padding-right: 30px;
    margin-top: 0px;
    position: absolute;
    flex: 1;
}

  .menuResponsive .resume {
    height: 30px;
  }
}



@media only screen and (min-width: 600px){
  .menuResponsive {
    visibility: hidden;
    display: none;
  }

}