header {
  height: 75px;
  position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    font-family: 'Figtree', sans-serif;
    backdrop-filter: blur(10px);
    position: absolute;
    box-shadow: #164961 0px 4px 0px 0px;
    transition: top 0.3s ease-in-out; /* Transition de mouvement en douceur */
    z-index: 1000; /* Assurez-vous que la navbar est en avant-plan */
  }



  nav ul {  
    position: relative;
    right:0;
    float: right;
    margin-top: 24px;

  }

  nav.navLinks li {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 0px;

  }

  .navlinks {
    /*test chatgpt pour defilement rapide */
    transition: transform 0.3s ease-out;
  }

  
  li .resume {
      color: #F29727;
      font-size: 18px;
      border: solid;
      border-radius: 5px;
      margin-left: 15px;
    }

  .a {
    color: #C2DEDC;
  }

  .a:hover {
    color: #F29727;
  }

  .a, li .resume {
      text-decoration: none;
      padding: 0.5rem;

  }
  
.resume:hover{
  background-color: rgba(255, 83, 13, 0.1); 
}
  