.work {
    color:aquamarine;
    
}

.work .listProject {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 221px;
    grid-gap: 21px;
    padding-left: 0px;
}

.work .elementList {
    position: relative;
    border-radius: 4px;
    background-color: #247094 ;
    list-style: none;
}

.work .elementList:last-child {
padding-bottom: 25px;
}

.work .stacksProject {
    list-style: none;
}

.work .faPlay {
    padding-right: 4px;
}

.work .faArrowUpRightFromSquare {
    padding-right: 12px;
    padding-top: 12px;
}

.work a {
    position: absolute;
    right: 0;
}
