.work {
 
}

.hr {
    flex: 1;
    margin-right: 0;
}

.work .listProject {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: 221px;
    grid-gap: 21px;
}

.work .elementList {
    display: relative;
    border-radius: 4px;
    background-color: hsl(199, 61%, 36%) ;
    list-style: none;
    padding-left:25px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    color: #CCD6F6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.elementList:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid hsl(199, 61%, 36%) ;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }


    /*codepen*/
.h3ElementList {
    margin-top: 0px;
    padding-top: 0px;
}

.work .elementList:last-child {
padding-bottom: 25px;
}

.work .stacksProject {
    list-style: none;
    padding-left: 13px;
}

.work .faPlay {
    padding-right: 4px;
}

.faArrowUpRightFromSquare {
    padding-right: 12px;
    padding-top: 12px;
}

.work a {
    left:90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}



/* mettre dans le shared styles file */

.a {
    color: #164961;
  }

  .a:hover {
    color: #F29727;
  }

  @media only screen and (max-width: 600px){
    .listProject {
        padding-inline: 40px;
    }     
      }
  @media only screen and (min-width: 600px){
        .listProject {
            padding-inline: 80px;
        }
      }
  
